/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal
 *  and widescreen CSS files as appropriate. */
/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.1. Zone user
**********************************************/
/*******************************************
* 2.1.1. Region user first
*******************************************/
.block-menu-user-menu .block-inner {
  float: left; }
  .block-menu-user-menu .block-inner .content {
    float: right;
    margin: 0;
    width: inherit;
    overflow: inherit;
    position: inherit; }
    .block-menu-user-menu .block-inner .content ul {
      text-align: right;
      clear: inherit;
      float: right;
      margin-right: 10px;
      position: inherit;
      left: inherit;
      text-align: inherit; }
      .block-menu-user-menu .block-inner .content ul li {
        float: left;
        position: inherit;
        right: inherit; }

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.2. Zone content
**********************************************/
/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Price range */
#search-api-ranges-block-view-form label {
  float: none; }

/*******************************************
* 3.2.2. Content
*******************************************/
#block-views-demo-content-slideshow-block-1 {
  /* HP blocks: Slideshow */ }
  #block-views-demo-content-slideshow-block-1 .bx-wrapper,
  #block-views-demo-content-slideshow-block-1 .bx-wrapper .bx-window {
    height: 357px !important;
    max-height: 357px;
    padding-bottom: 0; }
  #block-views-demo-content-slideshow-block-1 .bx-wrapper ul {
    max-height: 357px; }
  #block-views-demo-content-slideshow-block-1 .item-list .event-slider li {
    min-height: 168px;
    height: 357px;
    max-height: 480px;
    margin: 0;
    width: 700px;
    min-width: 330px;
    max-width: 940px; }

#promotional_banner .promotional_banner_special_offer {
  float: right;
  line-height: 22px;
  margin-top: 4px; }

/**********************************************
* 3.3. Zone postscript
**********************************************/
/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
.view-collection-taxonomy-term .view-header .collection-terms .view-content .item-list {
  display: block;
  float: none; }

/**********************************************
* 5.3. Product page
**********************************************/
.node-product-type .commerce-product-field .cloud-zoom-container #wrap {
  float: right; }
.node-product-type .commerce-product-field .cloud-zoom-container .cloud-zoom-gallery-thumbs {
  /*float: left;*/
  clear: none; }
  .node-product-type .commerce-product-field .cloud-zoom-container .cloud-zoom-gallery-thumbs .cloud-zoom-gallery {
    margin: 5px; }
.node-product-type .field-name-field-product form.commerce-add-to-cart label {
  float: none; }
